@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url(./frameworks/bootstrap.css);
@import url(./frameworks/bootstrap-icons.css);

@import url(./normalize.css);
@import url(./reset.css);

@import url(./elementos/no-script.css);
@import url(./cores.css);
@import url(./variaveis.css);

@import url(./elementos/principal.css);
@import url(./elementos/feedback.css);
@import url(./elementos/formulario-login.css);
@import url(./elementos/loader.css);

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Inter', sans-serif;
}

main.principal{
  min-height: 100vh;
}

.box-desabilitado{
  box-shadow: none !important;
  outline: none !important;
}

.card-header{
  padding: 1.5rem 1rem;
}

.card-header.normal{
  padding: 0.75rem 1rem;
}

.bold{
  font-weight: 700;
}

.tag-destaque{
  border: 1px solid #0D6EFD;
  background-color: #0D6EFD;
  display: inline-block;
  border-radius: 5px 5px 0 0;
  padding: 0.25rem;
  text-transform: uppercase;
}

.table-hover input[type='text']{
  background-color: #FFF !important;
}

.contador-atraso::before{
  display: inline-block;
  content: "•";
  margin-right: 0.25rem;
}

.list-group-title{
  background-color: #EEE;
  font-size: 1rem;
}

.contador-periodos{
  background-color: #F1F1F1;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ativo{
  font-weight: 600 !important;
  color: #0D6EFD !important;
}

.none{
  display: none !important;
}

.hide{
  position: absolute !important;
  opacity: 1 !important;
  z-index: -1;
  color: transparent;
}

button.btn-load{
  width: 125px;
}

button span.spinner-border{
  max-height: 1rem !important; 
  max-width: 1rem !important; 
  border-width: 0.15rem !important;
  font-size: normal;
}

ul li a.selecionado::after{
  content: "\F26C";
  color: #0D6EFD;
  margin-left: 0.5rem;
  display: inline-block;
  font-family: "bootstrap-icons";
  font-size: inherit;
  text-rendering: auto;
}

.swal2-html-container{
  font-size: 1.25rem !important;
  line-height: 1.25 !important;
}

@media screen and (max-width: 410px) {
  .table .input-group .form-control{
    display: none;
  }

  .table .input-group .input-group-text{
    border-radius: 5px !important;
    background-color: transparent;
    border: unset;
    padding: 0;
    margin: 0;
  }

  [data-tabela="ultimos-registros"] th:nth-child(2){
    visibility: collapse;
  }
}