@import url(./frameworks/bootstrap.css);
@import url(./frameworks/bootstrap-icons.css);

@import url(./normalize.css);
@import url(./reset.css);

@import url(./elementos/no-script.css);
@import url(./cores.css);
@import url(./variaveis.css);

@import url(./elementos/principal.css);

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Inter', sans-serif;
}

.box-desabilitado{
  box-shadow: none !important;
  outline: none !important;
}

.card-header{
  padding: 1.5rem 1rem;
}

.card-header.normal{
  padding: 0.75rem 1rem;
}

.bold{
  font-weight: 700;
}

.tag-destaque{
  border: 1px solid #0D6EFD;
  background-color: #0D6EFD;
  display: inline-block;
  border-radius: 5px 5px 0 0;
  padding: 0.25rem;
  text-transform: uppercase;
}

.table-hover input[type='text']{
  background-color: #FFF !important;
}

.contador-atraso::before{
  display: inline-block;
  content: "•";
  margin-right: 0.25rem;
}

.list-group-title{
  background-color: #EEE;
  font-size: 1rem;
}

.contador-periodos{
  background-color: #F1F1F1;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ativo{
  font-weight: 600 !important;
  color: #0D6EFD !important;
}

.none{
  display: none !important;
}

.hide{
  position: absolute !important;
  opacity: 1 !important;
  z-index: -1;
  color: transparent;
}