.feedback-message{
  display: none;
  padding: 0.5em;
  border-radius: 5px;
  transition: all 400ms;
}

.error{
  /* color: #2b0404; */
  color: #000000;
  background-color: #e8a0a0;
}

.warning{
  /* color: #874f0a; */
  color: #000000;
  background-color: #e99f3f;
}

.success{
  /* color: #033203; */
  color: #000000;
  background-color: #80da80;
}